html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: white;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  .container{
    width: 70%;
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .first{
    background: #ff6013;
    height: 75vh;
    padding: 30px;
    color: white;
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
  }
  .second{
    background: #326363;
    height: 75vh;
    padding: 30px;
    color: white;
  }
  .last{
    background: #1e3939;
    height: 75vh;
    padding: 30px;
    color: white;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
  }
  h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
  }
  .btn1{
    margin-top: 60px;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    background: #ff6013;
    color: white;
  }
  .btn2{
    margin-top: 60px;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    background: #326363;
    color: white;
  }
  .btn3{
    margin-top: 60px;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    background: #1e3939;
    color: white;
  }
  /* Grid Style */
  .grid{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #1e3939;
    height: 100vh;
  }
  .head{
    padding: 2em;
    display: grid;
    grid-template-areas:
      'a a b'
      'c d d'
      'c e e' 
    ;
    gap: 10px;
    height: 90vh;
    width: 60%;
    padding-bottom: 20px;
  }
  .a{
    background-color: #c44000;
    grid-area: a;
  }
  .b{
    background-color: #ff8000;
    grid-area: b;
    padding: 60px;
  }
  .c{
    background-color: #008200;
    grid-area: c;
    padding-right: 200px;
  }
  .d{
    background-color: #44a2ff;
    grid-area: d;
  }
  .e{
    background-color: #44a2ff;
    grid-area: e;
  }